@import './vars/colors.scss';

#header {
  width: inherit;
  height: 80px;
  background-color: $main-color;

  .header__content {
    display: flex;
    width: 1360px;
    height: 80px;
    margin: auto;
    align-items: center;
    .header__nav {
      width: 100%;

      .header__nav-list {
        display: flex;
        justify-content: space-around;
        
        .nav-item a {
          text-transform: uppercase;

        }
        .nav-item a:hover {
          font-weight: 600;

        }
        .nav-item, .nav-item .header__nav-profile-link{
          display: flex;
          
        }
        
      }
    }
  }
}