{% load static %}

<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'global/css/main.css' %}">
    <!-- Ваши стили и другие метаданные -->
</head>
<body>
  <div class="container">
    <!-- Здесь ваш header -->
    <header id="header" class="header">
        <div class="header__content">
          
          <nav class="header__nav" id="header__nav">
            <ul class="header__nav-list">
              {% if user.is_authenticated %}
                {% if request.user.has_perm('posts.add_post') %}
                <li class="nav-item">
                  <a class="header__nav-home-link" href="{% url 'create_post' %}">
                    Создать публикацию
                  </a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="header__nav-home-link" href="{% url 'home' %}">
                    Объявления
                  </a>
                </li>
                <li class="nav-item">
                  <a class="header__nav-profile-link" href="{% url 'profile' %}"><img src="{{user.avatar.url}}" alt="User Avatar">{{request.user.last_name}} {{request.user.name}} {% if request.user.middle_name %} {{request.user.middle_name}} {% endif %}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              {% endif %}
              <!-- <li class="header__nav-item">Задачник</li>
              <li class="header__nav-item">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Профиль</a>
                
                {% else %}
                <a href="{% url 'login' %}">Вход</a>
                
                {% endif %} -->
              
              </li>
            </ul>
          </nav>
        </div>
        <!-- Другие элементы header -->
    </header>
    
    <!-- Здесь содержимое, которое будет определено в дочерних шаблонах -->
    <main class="main" id="main">
        {% block content %}{% endblock %}
    </main>

    
    <footer id="footer" class="footer">
      {% block footer %}{% endblock %}
    </footer>
  </div>
  <script>
    {% block js %}{% endblock %}
  </script>
</body>
</html>
