{% load static %}

<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'global/css/main.css' %}">
    <!-- Ваши стили и другие метаданные -->
</head>
<body>
  <div class="container">
    <!-- Здесь ваш header -->
    <header id="header" class="header">
        <div class="header__content">
          <div class="header__logo">
            <img src="{% static 'global/icons/logo.png' %}" alt="logo" class="header__logo-img">
          </div>
          <nav class="header__nav" id="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item">Задачник</li>
              <li class="header__nav-item">Профиль</li>
            </ul>
          </nav>
        </div>
        <!-- Другие элементы header -->
    </header>
    
    <!-- Здесь содержимое, которое будет определено в дочерних шаблонах -->
    <main class="main" id="main">
        {% block content %}{% endblock %}
    </main>

    
    <footer id="footer" class="footer">
      {% block footer %}{% endblock %}
    </footer>
  </div>
</body>
</html>
